/* App.css */
.App {
  background-color: black;  
  /* width: 100cm; */ 
  /* height: 100cm; */
  display: flex;   
  /* padding-top: 20cm; */
  flex-direction: column;
  align-items: center; /* Center horizontally */
  justify-content: flex-start; /* Align to the top */ 
}

h1 {
  color: red; /* Red color for the heading */
   font-family: fantasy;
   font-weight: 500;
}
.search-bar {
  text-align: center;
   margin-top: 50px;
   transition: margin-top 0.3s ease; 
   } 

.search-bar input {
  padding: 8px;
  margin-right: 8px;
}

.search-bar button {
  padding: 8px 16px;
  background-color: #ff3700;
  color: #fff;
  border: none;
  cursor: pointer;
}

.movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Creates a responsive grid */
  grid-gap: 20px; /* Spacing between grid items */
  padding: 20px; /* Padding around the grid */
  width: 90%; /* Increase the width to 90% */
  margin: auto; /* Center the grid container */
}

.movie-info {
 
  background-color: #ff2600;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: transform 0.3s ease; /* Add transition for smooth effect */
}
/* }  */
.movie-info:hover {
  transform: scale(1.1); /* Scale up the movie info on hover */
}
.movie-info img {
  width: 95%; /* Make the image fill the container */
  height: auto; /* Maintain aspect ratio */
  border-radius: 10px; /* Optional: round the corners of the images */
  margin-bottom: 10px; /* Space between the image and the text */
} 
.details-center {
  /* text-align: center; */
  padding-left: 0.5cm;
  margin-top: 20px; /* Adjust margin-top as needed */
}
.movie-detail
{
  color: #ff3700;  
  font-size: larger;
}
